html, body {
  margin: 0;
  padding: 0;
}

.scroll-info {
  background-color: rgb(233, 0, 0);
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
}

.top-header {
  background-color: rgb(0, 0, 0);
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  transition: top 0.3s ease-out;
}

.top-header.hide {
  top: -61px;
}

.content {
  padding: 20px;
  padding-top: 80px;
}

.image {
  width: 100%;
}